{% extends 'base.html' %}
{% load static %}


{% block extend_head %}


{% endblock %}


{% block content %}

<h1>The Deluxe Finder</h1>
<p>This application guides you to the closest Dick's Drive In from anywhere in the world.</p>
<p>It is built using Python and Javascript.</p>

<div class="container">

  <label for="point-a">Start Address</label>
  <input type="text" placeholder="*Begin typing address" id="point-a" name="google_address_a">

  {% comment %} <label for="point-b">Destination Address</label>
  <input type="text" placeholder="*Begin typing address" id="point-b" name="google_address_b"> {% endcomment %}

  <!-- hidden inputs to collect values -->
  <input type="hidden" class="geo" id="id-lat-a" value="">
  <input type="hidden" class="geo" id="id-long-a" value="">
  <input type="hidden" class="geo" id="id-lat-waypoint" value="">
  <input type="hidden" class="geo" id="id-long-waypoint" value="">

  <table>
  {% if waypoints %}
    <th>{{request.user.username}}'s Waypoints</th>
    {% for waypoint in waypoints %}
      <tr>
        <td>{{waypoint.name}}</td>
        <tr>
          <td><input readonly id="point-waypoint" class="point-waypoint" value="{{waypoint.address}}"></td>
        </tr>
      </tr>
    {% endfor %}
  {% else %}
    <a href="/newpoint">No Waypoints</a>
  {% endif %}
  </table>

</div>

{% endblock %}

{% block extend_footer %}


    <script type="text/javascript">

      var google_api_key = "{{google_api_key|safe}}";
      var base_country = "{{base_country|safe}}";

    </script>

  <script src="{% static 'coordinateHandler.js' %}"></script>


{% endblock %}